<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/self.jpeg" alt="perfil" class="img-fluid" id="prof-ph">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">Joel Laureano Murua</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>
                About me
            </h1>
            <p>
                Advanced student to become a music teacher. Autodidact of programming searching for oportunities to help to institutionalize knowledge and adquire experience. 
            </p>
        </span>
    </div>
</div>
