.row {
    padding: 10px;
}
div {
    background: #d2c2b0;
    text-align: center;
    box-sizing: inherit;
}
/** EDIT FOTO DE PERFIL **/

@media (min-width: 576px) {
#prof-ph {
    position: relative;
    display: block;
    bottom: 70%;
    border-radius: 100%;
    border: 2px solid white;
    left: 3%;
}
}
@media (max-width: 576px) {
    #prof-ph {
        display: block;
        width: 35%;
        border-radius: 100%;
        margin: auto;
        border: 1px solid white;
    }
    }
/** EDIT NOMBRE **/

@media (min-width: 576px) {
    #name {
        font-weight: bold;
        margin-top: 16%;

    }
#name_rank {
    background: none;
    display: block;
    position: absolute;
    top: 30%;
    left: 3%;
    text-align: left;
    padding: 0;
}
}
@media (max-width: 576px) {
    #name {
        font-weight: bold;   
    }
    #name_rank {
        background: none;
        display: block;
        position: relative;
        text-align: center;
        padding: 0;
    }
    }
#about-text  {
    float: right;
    padding: 20px;
    text-align: right;
}