<div class="row">
  <div>
    <h1>Experience</h1>
    <button type="button" class="btn btn-outline-light btn-edit"><i class="fa-solid fa-pencil"></i></button>
  </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li *ngFor="let experience of experienceList">
                <h1>{{experience.title}}</h1> - <h3>{{experience.yearsfrom}} to {{experience.yearsto}}</h3>
                <p>{{experience.description}}</p>
            </li>
        </ul>

    </div>

</div>
