.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoap{
    width: 150px;
    
}
img {
    width: 30px;
}
.redes {


    margin-right: 0.5em;
}
.redes img {
    margin: 0.15em;
}
/* para la vista de celular */
@media (max-width: 575px){
.container {
    flex-direction: column;
}
.redes {
    display: flex;
    align-items: center;
}
.redes img {
    margin: 0.2em
}
}