.row {
    padding: 10px;
}
div {
    background: #d2c2b0;
}

/** EDIT NOMBRE **/
#name_rank {
padding-top: 1.3em;
margin: 0px;
line-height: 1;
}

/** EDIT FOTO DE PERFIL **/

@media (min-width: 576px) {
    #prof-ph {
       display: none;
    }
    }
    @media (max-width: 576px) {
        #foto {

            box-sizing: content-box;
        }
        #prof-ph {
            display:none;
            box-sizing: content-box;
            width: 35%;
            border-radius: 100%;
            margin: auto;
            border: 1px solid white;
        }
        }
/** EDIT NAME RESPONSIVE **/
@media (max-width: 576px) {
    .container{
        display: flex;
        justify-content: space-between;
    }
}
.btn-edit {

  float: left;
}
