<div class="row">

<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9" id="name_rank">
        <h3 id="name">{{miPortfolio.name}}</h3>
        <h5>{{miPortfolio.position}}</h5>
        <p>{{miPortfolio.ubication}}</p>

    </div>

      <button type="button" class="btn btn-outline-light btn-edit"><i class="fa-solid fa-pencil"></i></button>
    <div class="col-lg-1"></div>
    <!--<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="foto">
        <img src="../../../assets/self.jpeg" alt="perfil" class="img-fluid" id="prof-ph">
    </div>-->

</div>
</div>

