p {
    display:inline;
    font-size: 0.8em;
    color: grey;
}
i {
    color:grey;
    font-size: 1em;
    margin: 0.4em;
    float:right;
}
div {
    display:inline;
}
.container {
    display:block;
    justify-content: space-between;
}
