/* div{
    background: #1f1f24;
}
.row {
    text-align: center;
}
/**#portada {
    display: block;
    margin: 0px 9em;
    width: 400px;
}
*/
/*
@media (max-width: 576px){
    #portada {
        display:block;
       margin:0px auto;
       width: 350px;
    }
}
/** EDIT FOTO DE PERFIL **/
/*
@media (min-width: 576px) {
    #prof-ph {
        position:relative;
        z-index: 1;
        display: block;
        top: 25%;
        border-radius: 100%;
        border: 2px solid white;
        left: 3%;
    }
    }
    @media (max-width: 762px) {
        #prof-ph {
            display: none;
            width: 35%;
            border-radius: 100%;
            margin: auto;
            border: 1px solid white;
        }
        }
*/
#prof-ph{
  border-radius: 50%;
  border: 2px solid white;
}
.col-lg-2 {
  padding: 1em;
}
#portada {
  display: block;
  padding: 0px;
  margin: 0px auto;
}
@media (max-width: 800px) {
  #prof-ph {
    display:none;
  }
}
.row i {
  margin-right: 1em;
  float: right;
}
