<!-- <div class="row">
  <div class="container">
    <div class="grid cont-proph">
      <figure>
        <img [src]="miPortfolio.image" alt="perfil" class="img-fluid" id="foto de perfil">


        <div class="cont-btn">
          <button type="button" class="btn btn-outline-light btn-edit"><i class="fa-solid fa-pencil"></i></button>
        </div>
      </figure>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 cont-banner">
        <figure>
          <img [src]="miPortfolio.backImage" class="img-fluid" id="portada">

          <div class="cont-btn">
            <button type="button" class="btn btn-outline-light btn-edit"><i class="fa-solid fa-pencil"></i></button>
          </div>
        </figure>
      </div>
    </div>

  </div>
</div> -->
<div class="grid">
  <div class="profile">
    <figure>
 <button class="invisible-button"><img [src]="miPortfolio.image" alt="perfil" class="img-fluid profile-photo" id="foto-de-perfil"></button>

    </figure>
  </div>
  <div class="banner">
    <figure>
      <button class="invisible-button"><img [src]="miPortfolio.backImage" class="img-fluid" id="portada"></button>

      <!--<div class="cont-btn">
        <button type="button" class="btn btn-outline-light btn-edit"><i class="fa-solid fa-pencil"></i></button>
      </div>-->
    </figure>
  </div>
</div>
