<div class="row">
  <div class="container">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 cont-proph">
      <figure>
        <img [src]="miPortfolio.image" alt="perfil" class="img-fluid" id="foto de perfil">


        <div class="cont-btn">
          <button type="button" class="btn btn-outline-light btn-edit"><i class="fa-solid fa-pencil"></i></button>
        </div>
      </figure>
    </div>
    <div class="cont-banner">
      <figure>
        <img [src]="miPortfolio.backImage" class="img-fluid" id="portada">

        <div class="cont-btn">
          <button type="button" class="btn btn-outline-light btn-edit"><i class="fa-solid fa-pencil"></i></button>
        </div>
      </figure>
    </div>
  </div>
</div>
