<div class="row">
    <div class="container">
        <footer>
            <div class="text"> 
                <p>Joel Laureano Murua | Argentina Programa 2022 | Santa Fe, Argentina</p>
            </div>    
            <div class="icons">
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
                <a href=""><i class="fa-solid fa-envelope"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                <a href=""><i class="fa-brands fa-github"></i></a>
            </div>
        </footer>
</div>
</div>
