*{
  background-color: #1f1f24;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoap{
    width: 150px;

}
i {
    color:#d2c2b0;
    font-size: 1.5em;
}
.redes {


    margin-right: 0.5em;
}
.redes i {
    margin: 0.15em;
}
/* para la vista de celular */
@media (max-width: 575px){

.redes {
    display: flex;
    align-items: center;
}
.redes i {
    margin: 0.2em
}
}
